<!doctype html>
<html lang="ru">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="vierport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale= 1.0, minimum-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-adge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% block title %}{% endblock %}
</head>

 <body>
<header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/" class="nav-link text-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                Главная страница
              </a>
            </li>
            <li>
              <a href="/create.html" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                Записаться в зал
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>

  </header>


    {% block body %}{% endblock %}



  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="img-responsive"  src="https://i.pinimg.com/originals/bc/e1/b9/bce1b90441cc6395a61216b1e22fc6dd.jpg" width="2000" alt="" >

      </div>
      <div class="col-6 col-md">
        <h5></h5>

      </div>
      <div class="col-6 col-md">
        <h5></h5>

      </div>
      <div class="col-6 col-md">
        <h5></h5>

      </div>
    </div>
  </footer>
</main>

    <footer>
    Copyright Савелий Корюкин
    </footer>
  </body>
</html>